[submodule "deep/jdb"]
	path = deep/jdb
	url = ../jdb.git
[submodule "wsound/gather"]
	path = wsound/gather
	url = ../gather.git
[submodule "wsound/dzr"]
	path = wsound/dzr
	url = ../dzr.git
[submodule "deep/dipmaps"]
	path = deep/dipmaps
	url = ../dipmaps.git
[submodule "deep/diplomacy"]
	path = deep/diplomacy
	url = ../diplomacy.git
[submodule "predio"]
	path = predio
	url = ../predio.git
[submodule "hmdb"]
	path = hmdb
	url = ../hmdb.git
[submodule "deep/bank-info"]
	path = deep/bank-info
	url = ../bank-info.git
[submodule "condo40"]
	path = condo40
	url = ../condo40.git
[submodule "other"]
	path = other
	url = ../other.git
[submodule "univ-gather"]
	path = univ-gather
	url = ../univ-gather.git
[submodule "deep/pyxlconta"]
	path = deep/pyxlconta
	url = ../pyxlconta.git
[submodule "wsound/sound-creative"]
	path = wsound/sound-creative
	url = ../sound-creative.git
