[submodule "deep/jdb"]
	path = deep/jdb
	url = ../jdb
[submodule "wsound/gather"]
	path = wsound/gather
	url = ../gather
[submodule "wsound/dzr"]
	path = wsound/dzr
	url = ../dzr
[submodule "deep/dipmaps"]
	path = deep/dipmaps
	url = ../dipmaps
[submodule "deep/diplomacy"]
	path = deep/diplomacy
	url = ../diplomacy
[submodule "predio"]
	path = predio
	url = ../predio
